* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing-page {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
}

.landing-container {
    height: 100vh;
    width: 50vw;
    background-color: rgb(255, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    height: 40vw;
    width: 40vw;
    background-color: white;
    display: grid;
}

.pixel {
    background-color: white;
}